# --- BEGIN DEMON MANAGED BLOCK ---
# DANGER: Managed by Demon. Manual changes inside this block will be overwritten.
# Purpose: settings for filters and binary files
*.env filter=demon diff=demon
*.gif binary
*.ico binary
*.jpg binary
*.json filter=demon diff=demon
*.lock binary
*.mp4 binary
*.png binary
*.toml filter=demon diff=demon
*.woff binary
*.woff2 binary
*.yaml filter=demon diff=demon
*.yml filter=demon diff=demon
# --- END DEMON MANAGED BLOCK ---
